*{
    box-sizing: border-box;
}
.container{
    margin: 50px;
    font-size: 40px;
    background-color: rgb(0,0,0);
    display: grid;
    /* grid-template-columns: 200px 200px 200px 150px;  / */
    /* grid-template-columns: repeat(4,1fr); */
    /*grid-template-columns: auto auto auto auto;*/ /* Contentga qarab o'zgartiradi*/
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr); /* bunda yaxshi ma'noda => repeat , takrorlanish deb tarjima qilinadi */
    height: 400px;
    gap: 20px;
}
.el-1 {
    background-color: brown;
  }
  .el-2 {
    background-color: forestgreen;
  }
  .el-3 {
    background-color: hotpink;
    height: 150px;
    /* grid-column: -4 / -3;
    grid-row: 3 / 2; */
  }
  .el-4 {
    background-color: olive;
  }
  .el-5 {
    background-color: teal;
  }
  .el-6 {
    background-color: yellow;
    /* grid-column: 3 / 4;
    grid-row: 1 / 2; */
  }
  .el-7 {
    background-color: indigo;
  }
  .el-8 {
    background-color: coral;
  }